<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>

        <mapper resource="database/review_query.xml" />
        <mapper resource="database/store_query.xml" />
        <mapper resource="database/club_query.xml" />
        <mapper resource="database/area_query.xml" />
        <mapper resource="database/User.xml" />
        <mapper resource="database/UserBoardQuery.xml" />
        <mapper resource="database/ClubPost_query.xml" />
 
    </mappers>
</configuration>